@model List<ModeloNegocio.IdeaNegocioModel>

<head>
    <title>Suma Total de Ingresos e Inversión</title>
</head>
<body>
    <h2>Suma Total de Ingresos e Inversión</h2>

    <p>Suma Total de Ingresos: @ViewBag.SumaTotalIngresos</p>
    <p>Suma Total de Inversión: @ViewBag.SumaTotalInversion</p>
</body>
